# Chatbot UI
DEFAULT_MODEL=gpt-4-1106-preview
NEXT_PUBLIC_DEFAULT_SYSTEM_PROMPT="You are ChatGPT, a large language model trained by OpenAI. Follow the user's instructions carefully. Respond using markdown."
# OPENAI_API_KEY=YOUR_KEY

# Text Embedding
DEFAULT_MODEL_EMBEDDING=text-embedding-ada-002

# Pinecone
# PINECONE_API_KEY=
# PINECONE_ENVIRONMENT=
# PINECONE_INDEX=


# Google
# GOOGLE_API_KEY=YOUR_API_KEY
# GOOGLE_CSE_ID=YOUR_ENGINE_ID
